.main{
    flex: 1 1 auto;
}
.about__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding-top: 150px;
}
.about__future {
    width: 46%;
    background-color:rgba($color: #ffffff, $alpha: 1);
    box-shadow: -5px 7px 15px 5px rgba(198, 182, 245, 0.2);
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 40px;
    // border: 1px solid #000;
}
.about__future-title{
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
    padding-bottom: 18px;
    // border: 1px solid #000;
}
.future-image {
}
.title{
    font-size: 48px;
    line-height: 129%;
    font-weight: 300;
    color: #32325d;
}
.future__title-title{
    margin-bottom: 30px;
}
.future-title {
    margin-top: 55px;
    font-size: 30px;
    line-height: 120%;
    font-weight: 300;
    color: #212240;
}

.text{
    font-size: 23px;
    line-height: 32px;
    font-weight: 300;
    color: #525f7f;
}
.future-text {
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: #525f7f;
    margin-top: 30px;
}
@media(max-width:767px){
    .about__future{
        width: 100%;
        text-align: center;
    }
    .about__future-title{
        width: 100%;
        text-align: center;
    }
    .about__container{
        padding-top: 100px;
    }
    .future-title{
        font-size: 36px;
    }
    .future-text{
        font-size: 20px;
    }
}
@media(max-width:425px){
    .title{
        font-size: 40px;
        line-height: 100%;
    }
    .about__future {
        padding: 30px;
        margin-bottom: 20px;
    }
    .about__future-title{
        margin-bottom: 20px;
    }
    .future__title-title{
        margin-bottom: 15px;
    }
}
@media(max-width:375px){
    .about__future{
        padding: 15px;
    }
    .future-title{
        margin-top: 20px;
    }
    .future-text{
        margin-top: 10px;
    }
    .about__container{
        padding-top: 40px;
    }
}
