body{
    background: url(../img/header/layers.webp) 0 0/cover no-repeat;
    height: 100%;
    color: #32325d;
    font-weight: 300;
    font-family: 'Sora';
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1240px;
    margin: 0px auto;
    padding: 10px 40px 0px;
}
/* --------------------------------------------------------*/
.header {
    height: 100%;
}
.header__container {

}

.header__menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    font-weight: 700;
    font-size: 20px;
}

.menu__nav {
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 200%;
}
.menu__item {
    margin: 0 20px;
}
.menu__link {
    color: inherit;
}
.menu__button {
    min-width: 84px;
    text-align: center;
}
.button {
    font-size: 19px;
    background-color: #845cff;
    padding: 13px 18px;
    border-radius: 4px;
    color: white;
    box-shadow: -5px 7px 15px 2px rgba(111,54,255,0.2);
    a{
        color: #fff;
    }
    &:hover{
        box-shadow: -7px 8px 20px 5px rgba(60, 50, 77, 0.2);
    }
    &:focus{
        box-shadow: -7px 8px 20px 5px rgba(60, 50, 77, 0.2);
    }
}

@media(max-width:992px){
    .header__menu{
        min-height: 90px;
        font-size: 22px;
    }
    .header{
        background-color: rgba($color: #ffffff, $alpha: 0.3);
    }
    .container{
        padding: 10px 30px 0;
    }
}

@media(max-width:767px){
    
    .menu__item{
        margin: 0 15px 0 0;
    }
    .header__menu{
        min-height: 80px;
    }
    body{
        background: url(../img/header/layers.webp) 92% 5%/280% no-repeat;
        // background-color: rgba($color: #000000, $alpha: 0.7);
    }
    .header,.about__container{
        background-color: rgba($color: #ffffff, $alpha: 0.8);  
    }
    .container{
        padding: 10px 20px 0;
    }
}
@media(max-width:700px){
    .header__menu{
        flex-direction: column;
        align-items: flex-start;
    }
    .menu__nav{
        margin-top: 10px;
        width: 100%;
    }
    .menu__button {
        position: absolute;
        top: 0;
        right: 0;
        // min-width: none;
        // width: 120px;
    }
    .menu__item{
        font-size: 24px;
        &:last-child{
            margin: 0;
        }
    }
    .menu__list{
        width: 100%;
        justify-content: space-around;
    }
}

@media(max-width:479px){
    .menu__link{
        font-size: 18px;
    }
    .menu__button{
        font-size: 16px;
        padding: 10px;
        // text-align: center;
        // max-width: 70px;
    }
}


//----HEAD----------------------------------------------------------------------

.header__head {
    max-width: 500px;
    margin: 80px 0 0;
    padding-bottom: 30px;
}
@media(max-width:992px){
    .header__head{
        margin-top: 50px;
    }
}
@media(max-width:425px){
    .header__head{
        // min-width: 100%;
        margin-top: 25px;
        // padding-bottom: 100px;
    }
    body{
        background: url(../img/header/layers.webp) 94% 0/300% no-repeat;
    }
}
.head {
}
.head__title {
    font-size: 48px;
    line-height:62px;
    font-weight: 700;
    color: #32325d;
}
.head__text {
    margin: 10px 0 0;
    font-size: 23px;
    line-height: 32px;
}
@media(max-width:375px){
    .head__title{
        font-size: 40px;
        line-height: 50px;
    }
}
.head__buttons {
    margin: 40px 0 0;
}
.head__button {
}
.button2{
    margin: 0 0 0 10px;
    font-size: 19px;
    // line-height: 39px;
    font-weight: 600;
    color: #000000;
} 
@media(max-width:500px){
    .head__buttons{
        display: flex;
        flex-direction: column;
    }
    .head__button {
        text-align: center;
    }
    .button2{
        margin: 10px 0 0 0;
    }
}
@media(max-width:375px){
    .head__title{
        font-size: 40px;
        line-height: 50px;
    }
    .head__button{
        padding: 10px 15px;
        font-size: 18px;
    }
    
}
@media(max-width:320px){
    .button2{
        font-size: 16px;
    }
}


