
@font-face {
	font-family: 'Sora';
	src: url('../fonts/Sora/Sora-VariableFont_wght.ttf');
	src: local('☺'), url('../fonts/Sora/Sora-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// @font-face {
// 	font-family: 'Conv_Phenomena-Bold';
// 	src: url('../fonts/Phenomena-Bold.eot');
// 	src: local('☺'), url('../fonts/Phenomena-Bold.woff') format('woff'), url('../fonts/Phenomena-Bold.ttf') format('truetype'), url('../fonts/Phenomena-Bold.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

@import "nullstyle.scss";
@import "header.scss";
@import "aboutUs";
@import "services";
@import "whatWeDo";
@import "footer";